@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
    scroll-behavior: smooth;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-size: 400%; 
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    

   
    font-size: 1em;

    background-image: linear-gradient(120deg, rgb(65, 59, 59), rgb(71, 71, 242), rgb(237, 82, 159));
    animation: bg-animation 5s infinite alternate;

}


body::-webkit-scrollbar {
    width: .5em;
   background-color: rgb(199, 199, 199);
}
   
  
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(36, 36, 36);
    border-radius: 50px;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 0;
    
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
   
    
    

    h1 {
        text-align: center;
        margin-top: 50px;
        font-size: 3em;
        text-shadow: 1px 1px 1px black;
        
        
    }
    
}



h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 30px 0 20px;
    text-align: center;
    font-size: 1.2em;
  
    
  
    
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@media (min-width: 800px) {
    .wrapper {
        width: 30vw;
    }
}


.item-enter {
    opacity: 0;
  }
  .item-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-out;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-out;
  }